# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fbf879293298961a875ae95a610444cc60b70f7926dc4f9682749976e1cefe35f598d4ebc2bf31f427aa279bdfc0c9d4dddc102855bb414a387cd59ef35f200b

test:
  secret_key_base: b33bb19810aee7826422fe3369aec8a14176a7b6535ecd47457bab8fd542c737f9d1c22db6bc333a3f870f3cc2ffe1d2d508a69f4efa0f13eac783a3872ddeb7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
